OPENAI_API_KEY=your-dashscope-api-key-here
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=qwen3.5-27b

OPENAI_EMBEDDING_API_KEY=your-dashscope-api-key-here
OPENAI_EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_EMBEDDING_MODEL=qwen3-vl-embedding

# DATABASE_URL=sqlite+aiosqlite:///./data/knowledge.db
DATABASE_URL=postgresql://postgres:password@ip/database

SECRET_KEY=change-this-to-a-random-secret-key
